# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Code
tools/codegen/.vscode/launch.json

# Obsolete Automation Studio files
tools/AS/TrakDemo/Binaries/
tools/AS/TrakDemo/Temp/
tools/AS/TrakDemo/Diagnosis/
tools/AS/TrakDemo/*.set
*.isopen
